<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258994702164-cualqo3up4lfstn5qiv7agdqnld9tm17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258994702164-cualqo3up4lfstn5qiv7agdqnld9tm17</string>
	<key>API_KEY</key>
	<string>AIzaSyAKyhdUUPUKKDEXrXcmsOuTPrNySJIKmOo</string>
	<key>GCM_SENDER_ID</key>
	<string>258994702164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tiV.GB-Vkontakte</string>
	<key>PROJECT_ID</key>
	<string>gb-vkontakte-vit</string>
	<key>STORAGE_BUCKET</key>
	<string>gb-vkontakte-vit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258994702164:ios:7bb36c8faba9b32c</string>
	<key>DATABASE_URL</key>
	<string>https://gb-vkontakte-vit.firebaseio.com</string>
</dict>
</plist>